@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ 
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caifua:before {
  content: "\e668";
}

.icon-zhifubao:before {
  content: "\e64e";
}

.icon-koubei:before {
  content: "\e673";
}

.icon-pengyou:before {
  content: "\e61a";
}

.icon-yixianshi_huaban:before {
  content: "\e617";
}

